<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061150999344-qdugi98nq7mdn69anu4vjanftc286aho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061150999344-qdugi98nq7mdn69anu4vjanftc286aho</string>
	<key>API_KEY</key>
	<string>AIzaSyCHwMi0zPGh2F6_nuXFxIut3cVnGPq4Q00</string>
	<key>GCM_SENDER_ID</key>
	<string>1061150999344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram221201</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram221201.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061150999344:ios:06a32074080e32237bbef5</string>
</dict>
</plist>